@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-basic: 14px;

  --color-primary: #323236;
  --color-primary-dark: #1E1E1E;
  --color-secondary-dark: #202023;
  --color-focus: #404044;
  --color-hover: #303033;

  --color-input: #343436;
  --text-title: 1rem;
  --text-details: 0.85rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer components{
  .dashboard-nav{
    @apply w-full flex flex-row justify-between items-center px-6 py-3 bg-primary;
    
    & a {
       @apply text-white px-3 py-1.5 rounded-lg text-sm;
    }

    & ul {
      @apply flex flex-row gap-3
    }

    & .profile{
      @apply p-2 flex items-center justify-center rounded-full bg-green-500 text-xs font-medium text-white
    }
  }

  .tile__description{
    display:  flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding-left: 16px;
    flex-basis: 0;
  }
  
  .tile__category{
    color: #6e6e73;
    font-size:12px;
    line-height: 1.3333733333;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-family: "SF Pro Text","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .tile__title{
    color: #1d1d1f;
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 700;
    letter-spacing: .011em;
  }

  .tile__timestamp{
    color: #6e6e73;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857742857;
    font-weight: 700;
    letter-spacing: -0.016em;
  }

}

@layer utilities {
  .scrollbar__none {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .scrollbar__none::-webkit-scrollbar {
    display: none;
  }
}

@utility sidebar-item-header {
  @apply text-title text-white font-medium uppercase leading-none line-clamp-1;
}

@utility sidebar-item-details {
  @apply text-details text-white font-light  line-clamp-1;
}

@utility sidebar-item-hover {
  @apply hover:bg-hover hover:cursor-pointer;
}


@utility editor-input {
  @apply w-full placeholder:text-[#A1A1A1] text-white font-light py-2.5 px-2 focus:outline-none
}
